.btn {
	&-uppercase {
		padding-top: .75rem;
		padding-bottom: .75rem;
		font-size: 9px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&-rounded {
		@include border-radius(25px);
	}
	&-group {
		&-rounded {
			.btn {
				&:first-child {
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				}
				&:last-child {
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
				}
			}
		}
	}
	&-toolbar-rounded {
		width: 28px;
		height: 28px;
		padding: 0;
		text-align: center;
		line-height: 31px;
		@include border-radius(18px);
		ion-icon {
			font-size: 16px;
		}
	}
}