html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font-primary;
	font-size: 13px;
	line-height: 24px;
	color: $text-color;
	background-color: $body-color;
	overflow-x: hidden;
}
.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	background-color: $white;
	&-header {
		padding: 10px 20px;
		font-size: 18px;
		line-height: 1.5;
		border-bottom: 1px solid darken($white, 5%);
		border-left: 1px solid darken($white, 5%);
		box-sizing: border-box;
		a {
			font-weight: 600;
		}
	}
	&-nav {
		.nav {
			&-item {
				position: relative
			}
			&-link {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 700;
				letter-spacing: 1px;
				@include transition(all .2s ease-in-out);
				&:not(.disabled) {
					color: $text-color;
				}
				&::before,
				&::after {
					content: '';
					position: absolute;
					opacity: 0;
					@include transition(opacity .2s ease-in-out);
				}
				&::before {
					top: 0;
					right: 0;
					width: 3px;
					height: 100%;
					@include border-radius(4px);
					background-color: $primary;
				}
				&::after {
					top: calc(50% - 4px);
					right: 3px;
					border-right: 4px solid $primary;
					border-bottom: 4px solid transparent;
					border-top: 4px solid transparent;
				}
				&:hover {
					&:not(.disabled) {
						color: $primary;
						background-color: rgba($primary, 5%);
						@include transition(all .2s ease-in-out);
						&::before,
						&::after {
							opacity: 1;
							@include transition(opacity .2s ease-in-out);
						}
					}
				}
			}
		}
	}
}
.content {
	margin-left: 250px;
	&-header {
		padding: 10px 20px;
		border-bottom: 1px solid darken($white, 5%);
		border-left: 1px solid darken($white, 5%);
		box-sizing: border-box;
		background-color: $white;
		h2 {
			margin: 0;
			font-size: 18px;
			line-height: 1.5;
		}
		.btn {
			margin-top: -2px;
		}
	}
}
.btn {
	&-uppercase {
		padding-top: .75rem;
		padding-bottom: .75rem;
		font-size: 9px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&-rounded {
		@include border-radius(25px);
	}
	&-group {
		&-rounded {
			.btn {
				&:first-child {
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				}
				&:last-child {
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
				}
			}
		}
	}
}
.document {
	&-container {
		min-height: 100%;
		margin: 60px 5px 20px;
		// background-color: $white;
		canvas {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			background-color: $white;
		}
	}
	&-toolbar {
		padding: 10px 20px;
		border-left: 1px solid darken($white, 5%);
		border-bottom: 1px solid darken($white, 5%);
		box-sizing: border-box;
		background-color: darken($white, 2%);
		&-sticky {
			position: fixed;
			z-index: 1020;
			top: 0;
			left: 250px;
			width: calc(100% - 250px);
		}
	}
}