$purple: #59236F;
$grey: #CBCBCB;
$grey-dark: #ACABAB;
$red: #ee5253;
$black: #22252A;
$white: #fff;

$font-primary:   'Open Sans', sans-serif;
$text-color:     $black;
$body-color:	 $grey-dark;

// Update Bootstrap's global variables
$primary:       $purple;
$secondary:     $grey;
$danger:		$red;